<h1>User Directory</h1>

<div class="container">
  <% @users.each do |user| %>
    <div class="col-md-3 col-sm-6 usersIcons">
      <%= link_to user, class: "btn btn-default" do %>
        <%= image_tag user.picture, class: "img-responsive" %>
      <% end %>
    </div>
  <% end %>
</div>
