<div class="row">
  <div class="col-md-9">
    <!-- Main -->
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.picture, class: "img-responsive" %>
        <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-primary" %>
      </div>
      <div class="col-md-9">
        <h2><%= @user.name %></h2>
        <h3>Posts</h3>
        <%= render @user.posts %>
      </div>
    </div>
  </div>
</div>
