.jumbotron {
  background-image: image-url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 25vw;
  background-position: 25% 35%;
  padding-top: 0px;
}

.navbar-brand {
  width: 50px;
}

#post_body {
  width: 875px;
  height: 219px;
}

#post_title {
  margin-left: 4px;
}

.nav-title{
  display: flex;
  margin-top: 10px;
}

.usersIcons {

  .img-responsive {
    height: 200px;
    width: 200px;
  }

}

#woah {
  border-left: 2px solid grey;
  padding-left: 10px;
}

.img-circle {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

#small {
  width: 20px;
  height: 20px;
}

#header h1{
  color: white;
}

#search{
  padding:0 5px;
}

footer{
  height:50px;
  background:#3d6c88;
  color:white;
  padding:8px;
}
footer a{
  color:white;
}

footer img{
  max-width: 40px;
}
#footerLinks a{
  margin: 0px 5px;
}

.vcenter{
  display:flex;
  align-items:center;
  justify-content: center;
}
.sidebar{
  margin-top:20px;
}
#socialLinks a{
  margin:0 5px;
}

#socialLinks{
  margin-bottom: 40px;
}

#corgi {
  max-height: 50%;
  max-width: 100%;
  margin-bottom: 40px;
}

#pop{
  padding-left: 0px;
  padding-right: 0px;
}

#popularPosts {
  height: auto;
  margin: 0;

  .btn {
    margin: 0px;
    padding: 0px;
    border: none;
    display: flex;
    height: 300px;
  }

  .popular:hover{
    opacity: 1.0;
    filter: alpha(opacity=30);
    padding: 0px;
  }

  .popular {
    height: auto;
    padding: 0px;
    opacity: 0.5;

    .center-block {
      background-size: cover;
      width: 100%;
      margin: 0px;
    }
  }
}

#popularTitle {
  font-size: 50px;
}

.bottomTitles {
  color: white;
  display: inline-block;
  font-family: inherit;
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  position: absolute;
  width: 100%;
  bottom: 10px;
}


.comments {
  opacity: 0.7;
  background-color: lightgrey;
  color: white;
}

.read {
  opacity: 0.7;
  background-color: lightgrey;
  color: white;
}

.share {
  background-color: blue;
  opacity: 0.7;
  color: white;
}
